nav {
    background: $background-color;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
    width: 12%;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        a {
            text-decoration: none;
            text-align: center;
            color: $success;
            font-weight: bold;
            border-radius: 0.5rem;
            border: 2px solid $raven;

            &:hover {
                color: $error;
                box-shadow: 0 2px 2px $error;
            }

            p {
                margin: 0.5rem;
            }
        }
    }
}