header {
    background: $background-color;

   .container {
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: fit-content;
            padding: 0.8rem;
            background: $primary;
            border: $primary;
            border-radius: 0.5rem;
            color: $background-color;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: $tertiary;
            }
        }
    }

    a {
        color: $raven;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $tertiary;
        }
    }
    
    .accessibility {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
